@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iransans;
  src: url(../public/assets/fonts/iransansdn.woff2);
}

@font-face {
  font-family: iransansbold;
  src: url(../public/assets/fonts/iransansdnbold.woff2);
}

@font-face {
  font-family: iransanslight;
  src: url(../public/assets/fonts/iransansdnlight.woff2);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

::-webkit-scrollbar {
  display: none;
}
